@use "../../styles/mixin" as m;

.visual {
  width: 100%;
  height: clamp(250px, 35vh, 35vh);
  position: relative;
}

.heading {
  @include m.blueBg;
  height: 100%;

  .text {
    position: absolute;
    z-index: 1;
    top: 12.5vh;
    left: 12.5%;
    width: 75%;

    h1 {
      font-weight: 500;
      line-height: 1.4em;
      margin-bottom: 2rem;
    }

    p {
      line-height: 1.6em;
      margin-bottom: 2rem;
    }
  }
}
