@use "../../styles/variables" as v;

._button {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3.2rem;
  font-size: 20px;
  font-weight: bold;

  width: 100%;

  border-radius: 1.15rem;
  border: 2px solid v.$blue_dark;

  &:focus {
    outline: 0;
  }
}

.primary {
  @extend ._button;
  background-color: v.$blue_dark;
  color: white;
}

.secondary {
  @extend ._button;
  background-color: white;
  color: v.$blue_dark;
}
