.header {
  width: 100vw;
  z-index: 10;

  position: absolute;
  top: 1.125rem;

  .back {
    position: absolute;
    margin-top: 1.5rem;
    left: 12.5%;
  }

  .logo {
    position: absolute;
    right: 0.8rem;
  }
}
