@use "../../styles/variables" as v;

.en {
  font-style: italic;
  font-size: 0.8em;
}

.-title {
  padding: 5vh 0 4vh 0;

  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.title-neg {
  @extend .-title;
  color: v.$gray_dark;
}

.title-pos {
  @extend .-title;
  // padding-bottom: 1vh;
  color: v.$green;
}

.congrats {
  color: v.$green;

  font-size: 12px;
  line-height: 1.4em;
  margin-bottom: 32px;
}

.-panel {
  min-height: 25vh;
  border-radius: 16px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.neg {
  @extend .-panel;
  padding: 10% 8%;

  background: linear-gradient(135deg, #e8ebee, #c2c5c8);

  p {
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
}

.pos {
  @extend .-panel;
  padding: 2% 10%;
  background-color: white;
  position: relative;

  .bear {
    width: 54px;
    height: 51px;
    position: absolute;
    top: 0;
    right: 2rem;
    transform: translateY(-65%);
  }

  .logo {
    min-height: 36px;
    position: relative;
    margin: auto;
    top: 2vh;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;

    small {
      font-size: 10px;
      display: block;
      margin-top: 8px;
    }
  }

  h3 {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    small {
      display: block;
      margin-top: 4px;
    }
  }

  .details {
    position: relative;
    margin: auto;

    font-size: 12px;
    font-weight: 500;
    line-height: 2.4em;

    .detail {
      position: relative;
      border-bottom: 1px solid v.$gray;
      margin: auto;

      display: flex;
      justify-content: space-between;

      .field {
        display: inline-block;
        font-weight: 300;
        min-width: 80px;

        span {
          margin-right: 4px;
        }
      }

      .fullScore {
        color: v.$gray;
      }
    }
  }
}

.badges {
  margin: 2vh 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  justify-items: center;
  align-items: center;
}

.shop {
  font-size: 10px;
  padding: 0.5em 1em;
  border-radius: 1.2em;
  color: white;
  background-color: v.$blue_dark;
  border-style: none;

  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
