@use "./variables" as v;

@mixin area {
  width: 75%;
  @include xcenter;
}

@mixin xcenter {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin spacer($spacer: v.$spacer_l) {
  margin-top: $spacer;
}

@mixin blueBg() {
  background-image: url("../public/curve.svg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
}
