@use "./mixin" as m;
@use "./variables" as v;

.example {
  width: 100vw;
  margin: auto -12.5vw;
  padding: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 1vw;

  .image {
    flex: 1;
    max-width: 30vw;
    position: relative;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.1));

    img {
      border-radius: 4px;
    }

    p {
      color: #757575;
      font-weight: 300;
      font-size: 0.75rem;
      width: 80%;
      margin: 0.5rem auto;
    }
  }
}

.example_1 {
  @extend .example;
  justify-content: center;
}
